{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style-login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Form Login</title>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Вход</h1>
            <div class="inputBox">
            <input type="text" placeholder="Имя пользователя..." required>
                <i class='bx bx-user-circle'></i>
            </div>
            <div class="inputBox">
            <input type="password" placeholder="Пароль..." required>
                <i class='bx bx-lock-alt' ></i>
            </div>
            <div class="remember">
                <label for=""><input type="checkbox">Запомнить меня</label>
                <a href="#">Забыли пароль?</a>
            </div>

            <button type="submit" class="btn">Войти</button>

            <div class="registerLink">
                <p>Нет аккаунта? <a href="#">Создайте его прямо сейчас!</a></p>
            </div>

        </form>
    </div>
</body>
</html>